{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">Inicio</h1>
        <p>
            Django Aplication se fundó sobre esta sencilla premisa: organizar tus tareas.
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a> 
        </div>
    </section>
</main>
{% endblock %}
