{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-primary"> {{ task.tittle }}</h1>
                {{ error}}
                <div class="mt-5">    
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-secondary">
                            Update
                        </button>  
                    </form>
            
                    <form action="{% url 'complete_task' task.id %}" method="POST">
                        {% csrf_token %}
                
                        <button class="btn btn-primary">
                            Tarea Completada
                        </button>  
                    
                    <form action="{% url 'complete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">
                            Delete
                        </button> 
                    </form>      
                </div>       
            </div>
        </div>
    </div>
</main>
{% endblock %}